* {
	font-family: "Franklin Gothic";
	background-color: #f6f6f6;
}

h1 {
	text-align: center;
	font-size: 35px;
	margin: 25px 2px 2px 2px;
	padding: 1px;
	border: 1px;
    letter-spacing: 1.2px;
}

#header {
 text-decoration: underline;
}

p {
	margin: 25px 100px 25px 100px;
}

.travel_res {
	margin: 25px 75px 25px 75px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: #71637D;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.topnav li {
	float: left;
	display: inline-block;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.space {
	margin: 10px;
}

table {
	border: 1px 1px 1px 1px;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

table tr td {
	width: 150px;
	height: 100px;
}

.resize {
	width: 150px;
	height: 100px;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
 table tr td {
	width: 75px;
	height: 50px;
}
}

@media screen and (max-width: 1000px) {
.resize {
	width: 75px;
	height: 50px;
}
}

@media screen and (max-width: 1200px) {
  .topnav {
	padding: 15px 10px;
	font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  * {
	font-size: 10px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
	font-size: 12px;
  }
}




